@charset "utf-8";

body{
	margin: 0 auto;
	max-width: 1000px;
	min-width: 600px;
}

.flex{
	display:flex;
}

.top{
	border: solid #000000;
	height:60px;
}

.left{
	flex:1;
	border: solid red;
	height: 80vh;
}

.center{
	flex:3;
	border: solid blue;
	height: 80vh;
}

.right{
	flex:1;
	border: solid pink;
	height: 80vh;
}
